<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="assets/logo/logo.ico" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.3/dist/flowbite.min.css" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" 
    rel="stylesheet"/> <!-- Poppins Font -->
    <title>Lumintu Learning</title>
    <meta property="og:locale" content="id_ID" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Lumintu Logic" />
    <meta property="og:description" content="We Are Lumintu’s Stack " />
    <meta property="og:url" content="https://lms.lumintulogic.com/" />
    <meta property="og:site_name" content="Lumintu Learning" />
    <meta property="og:image" content="https://account.lumintulogic.com/assets/img/logo.png" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.17.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="bg-white max-w-screen-sm max-h-full my-auto mx-auto my-6 text-black pt-6">
    <img class="mx-auto w-1/3 " src="assets/ilustrasi/logo_lumintu 3.png" alt="">
    <div class=" box-border border-[#263238] w-9/12 p-4 border-2 mx-auto my-6 ">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 mx-auto" fill="none" viewBox="0 0 24 24" stroke="#A02724" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <p class="text-md lg:text-2xl font-bold text-center">Payment Failed</p>
        <p class="text-xs lg:text-md text-center my-2">Time for your transaction is up, try again</p>

        <div class=" mt-5 mb-6 lg:my-6 border-t-2 border-b-2 border-[#263238]">
            <div class="mt-5 mb-5">
                <p class="font-bold">Payment Details</p>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="mt-3 sm:mt-4">
                    <p class="text-xs sm:text-base align-top text-left">Payment Amount</p>
                </div>
                <div class="mt-3  sm:mt-5">
                    <p class="text-xs sm:text-base align-top font-semibold text-right">Rp. 200.000</p>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="mt-3 sm:mt-4">
                    <p class="text-xs sm:text-base align-top text-left">Payment Date</p>
                </div>
                <div class="mt-3  sm:mt-4">
                    <p class="text-xs sm:text-base align-top font-semibold text-right">09.00 July, 02 2022</p>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4">
                <div class="mt-3 sm:mt-4">
                    <p class="text-xs sm:text-base align-top text-left">Payment Method</p>
                </div>
                <div class="mt-3  sm:mt-4">
                    <p class="text-xs sm:text-base align-top font-bold text-right">Indomaret</p>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-4 text-[#A02724]">
                <div class="mt-3 mb-6 sm:mt-4">
                    <p class="text-xs sm:text-base align-top text-left">Status</p>
                </div>
                <div class="mt-3 mb-6 sm:mt-4">
                    <p class="text-xs sm:text-base align-top font-bold text-right">Failed</p>
                </div>
            </div>

        </div>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 my-5 lg:my-3 ">
            <div>
                <p>Total Amount :</p>
            </div>
            <div>
                <p class="text-xs sm:text-xl font-bold lg:text-right">Rp. 200.000</p>
            </div>
        </div>
        <div class="flex space-x-1 p-4 border-t border-gray-200 rounded-b mx-auto ">
            <button  type="button" class="text-white mx-auto bg-[#C27D2B] hover:bg-[#c27619] focus:ring-4 focus:ring-[#b06e1e] font-medium rounded-lg text-xs sm:text-sm px-4 py-2.5 text-center dark:bg-[#C27D2B] dark:hover:bg-[#c27619] dark:focus:ring-[#b06e1e]">New Order</button>
        </div>
        <div class="text-center border-t-2 border-[#263238] pt-3">
            <p  class="text-center font-semibold">Our Contact</p>
            <p class="text-xs lg:text-md text-center my-2">if you have any questions, concern or suggestion, please email us : <a href="#">lumintulogic@gmail.com</a> </p> 
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
    </div>
    <div class="text-white text-center mb-4">lumintu.logic</div>
</div>

</body>
<script src="https://unpkg.com/flowbite@1.4.2/dist/flowbite.js"></script>
    <script src="assets/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script> <!-- icons -->
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> <!-- icons -->
  </body>
</html>